<nav class="pa3 pa5-ns">
  <a class="black link hover-blue b f6 f5-ns dib mr3 mb2" href="#" title="Home">Gary Peters</a><br>
  <a class="near-black link hover-blue  f6 f5-ns dib mr3" href="#" title="Works">Works</a>
  <a class="near-black link hover-blue    f6 f5-ns dib mr3" href="#" title="Exhibtions">Exhibitions</a>
  <a class="near-black link hover-blue    f6 f5-ns dib mr3" href="#" title="Journal">Journal</a>
  <a class="near-black link hover-blue   f6 f5-ns dib" href="#" title="About">About</a>
</nav>
