@font-face {
  font-family: 'UntitledSansTest';
  src: url('../assets/UntitledSansTest-Regular.eot');
  src: url('../assets/UntitledSansTest-Regular.eot?#iefix') format('embedded-opentype'),
        /* url('../assets/UntitledSansTest-Regular.woff2') format('woff2'), */
       url('../assets/UntitledSansTest-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'UntitledSansTest';
  src: url('../assets/UntitledSansTest-RegularItalic.eot');
  src: url('../assets/UntitledSansTest-RegularItalic.eot?#iefix') format('embedded-opentype'),
       /* url('../assets/UntitledSansTest-RegularItalic.woff2') format('woff2'), */
       url('../assets/UntitledSansTest-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

.UntitledSansTest {
  font-family: 'UntitledSansTest';
}

.UntitledSansTest-italic {
  font-family: 'UntitledSansTest';
  font-style: italic;
}



@font-face {
  font-family: 'UntitledSansTest-Medium';
  src: url('../assets/UntitledSansTest-Medium.eot');
  src: url('../assets/UntitledSansTest-Medium.eot?#iefix') format('embedded-opentype'),
       /* url('../assets/UntitledSansTest-Medium.woff2') format('woff2'), */
       url('../assets/UntitledSansTest-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'UntitledSansTest-Medium';
  src: url('../assets/UntitledSansTest-MediumItalic.eot');
  src: url('../assets/UntitledSansTest-MediumItalic.eot?#iefix') format('embedded-opentype'),
       /* url('../assets/UntitledSansTest-MediumItalic.woff2') format('woff2'), */
       url('../assets/UntitledSansTest-MediumItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

.UntitledSansTest-Medium {
  font-family: 'UntitledSansTest-Medium';
}

.UntitledSansTest-MediumItalic {
  font-family: 'UntitledSansTest-MediumItalic';
  font-style: italic;
}


h1,h2,h3,h4,h5,h6 {font-weight: 400;}
